@import "tailwindcss";

@theme {
  --color-tandir-black: #1a0f0c; /* Logodaki koyu kahve/bordo zemin */
  --color-tandir-dark: #261612;
  --color-tandir-copper: #c78b53;
  --color-tandir-fire: #8b2512;
  --color-tandir-gold: #d9a05b; /* Logodaki mat altın sarısı */
}

body {
  background-color: var(--color-tandir-black);
  color: #ffffff;
  overflow-x: hidden;
}